{% extends "base.html" %}
{% block title %}{{ SITENAME }} - آرشیو{% endblock %}
{% block content %}
  <p class="subtitle">
    <span class="icon is-small"><i class="fa fa-calendar-o"></i></span>
    آرشیو {{ SITENAME }}
  </p>

  <div class="menu">
    {% for year, year_group in dates|groupby('date.year')|reverse %}
      {% for month, month_group in year_group|groupby('date.month')|reverse %}
        <h4 class="date">
          {{ (month_group|first).date|strftime('%b %Y') }}
        </h4>
        {% for article in month_group %}
          <ul class="menu-list">
            <li><a href="{{ SITEURL }}/{{ article.beautiful_url }}">{{ article.title }}</a></li>
          </ul>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
