<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="description" content="{{ DESCRIPTION }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
  {% assets filters="less", output="css/main.%(version)s.css", "css/main.less" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  {% assets "css/print.css" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}" media="print">
  {% endassets %}
  {% for extra_path in EXTRA_PATH_METADATA.values() %}
    {% if extra_path.get('path', '').endswith('.css') %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ extra_path['path'] }}">
    {% endif %}
  {% endfor %}
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block tags %}
  {% endblock %}
</head>

<body id="index" class="home">
<header class="hero is-primary">
  <div class="hero-head">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item is-brand title is-3{% if output_file == "index.html" %} is-active{% endif %}"
             href="{{ SITEURL }}/">{{ SITENAME }}</a>
        </div>
      </nav>
    </div>
  </div>
</header>

<div class="container">
  <div class="section columns">
    <div class="column">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container has-text-centered">
    {% if SITESUBTITLE %} <p class="subtitle">{{ SITESUBTITLE }}</p>{% endif %}
    <p>{{ SITENAME }}</p>
    <div class="footer-link">
      <a href="https://baaham.net" target="_blank">سرآغاز</a>
      <div class="footer-divider"></div>
      <a href="https://baaham.net/terms" target="_blank">شرایط استفاده از سرویس «باهم»</a>
      <div class="footer-divider"></div>
      <a href="https://baaham.net/faq" target="_blank">سوال‌های متداول</a>
      <div class="footer-divider"></div>
      <a href="https://baaham.net/help/security" target="_blank">راهنمای پرداخت امن</a>
    </div>
  </div>
</footer>
</body>
</html>
