{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  {% with article_list = articles_page.object_list[0:] %}
    {% for article in article_list %}
      <aside class="body">
        <article>
          <h1 class="title">
            <a href="{{ SITEURL }}/{{ article.beautiful_url }}">{{ article.title }}</a>
          </h1>
          <img class="headerImage" src="{{ article.img }}">
          <div class="section">
            {{ article.summary }}
          </div>
          <div>
            <a class="readMore" href="{{ SITEURL }}/{{ article.beautiful_url }}">ادامه مطلب</a>
          </div>
          {% include 'article_infos.html' %}
        </article>
      </aside>
    {% endfor %}
  {% endwith %}
  {% include 'pagination.html' %}
{% endblock %}
