<meta property="og:title" content="{{ SITENAME }}{% if item.title %} - {{ item.title }}{% endif %}">
{% if item.tags %}
    <meta name="keywords" content="{{ article.tags|join(",") }}" />
{% endif %}
{% if item.summary %}
  <meta property="og:description" content="{{ item.summary | striptags | truncate(200, end='...') }}">
{% endif %}
{% if item.description %}
  <meta property="og:description" content="{{ item.description }}">
{% endif %}
<meta property="og:url" content="{{ SITEURL }}/{{ item.beautiful_url }}">
<meta property="og:site_name" content="{{ SITENAME }}">
<meta property="og:image" content="{{ item.img }}">
